body {
    background-color: #f0f8ff;
    color: #00367a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

/*Títol*/
h1 {
    font-family: Hydra;
    font-size: 50px;
    color: #00367a;
}

/*Informació*/
h2 {
    text-align: center;
    font-family: Vanilla;
}

.controls {
    margin-bottom: 20px;
}

/*Botó començar*/
button {
    border-radius: 7px;
    border: 1px solid #4e7dc5;
    font-size: 20px;
    color: #00367AFF;
    background-color: #ffffff;
    padding: 7px;
    font-family: Vanilla;
    padding-left: 10px;
    padding-right: 10px;
}

button:hover {
    background-color: #dce9ff;
    color: #0047a3;
}

/* La graella de 10x10 */
#grid-container {
    display: grid;
    grid-template-columns: repeat(10, 30px); /* 10 columnes de 30px */
    grid-template-rows: repeat(10, 30px);    /* 10 files de 30px */
    gap: 2px; /* Espai entre cel·les */
    border-radius: 10px;
    border: 5px solid #00367AFF;
    background-color: #4890c8;
}

/*Cada número*/
p {
    margin-top: 7px;
    margin-bottom: 7px;
}

/* Estil base de cada cel·la */
.cell {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    font-family: Hydra ;
    text-align: center;
    background-color: white; /* Color per defecte (fons) */
    transition: background-color 0.3s;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cell:hover {
    background-color: rgb(217 238 255);
}

/* Color de la cel·la amb número*/
.cell.active {
    background-color: #ceebff; /* Verd fluorescent */
    box-shadow: inset 0 0 10px #a9deff;
}

.cell.bomba {
    background-color: #ff7caa; /* Verd fluorescent */
    box-shadow: inset 0 0 10px #ff9d77;
}

.cell.bandera {
    background-color: #ffffff; /* Verd fluorescent */
    box-shadow: inset 0 0 10px #c2e9ff;
}

.contextmenu.bandera {
    margin-top: 7px
}

/*Fonts:*/

@font-face {
    font-family: 'CuteDino';
    src: url('fonts/cute_dino_2/Cute Dino.ttf');
}

@font-face {
    font-family: 'Vanilla';
    src: url('fonts/vanilla_caramel/Vanilla Caramel.otf');
}

@font-face {
    font-family: 'Hydra';
    src: url('fonts/m23_hydrant_special/m23.TTF');
}